.nav {
    display: flex;
    align-items: center;
    justify-content: center;

    & ul {
        margin-top: 15px;
        list-style: none;
        text-decoration: none;
        display: flex;
        width: 100%;
        justify-content: space-around;

        & li:hover {
            font-weight: 800;
        }

        & li:active {
            font-weight: 900;
        }
    }
}

.form,
.hours-table,
.favorite-websites {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

.hours-table {
    display: flex;
    flex-direction: column;

    & table {
        border-collapse: collapse;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        &,
        th,
        td {
            text-align: left;
            padding: 10px;
        }
    }
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & input {
        background-color: rgb(245, 245, 245);
        padding: 10px;
        outline: none;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all ease-in-out .2s;
        border: none;

        &:hover {
            background-color: rgba(245, 245, 245, 0.685);
        }
    }
}

#modal {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

    & button {
        color: white;
        background-color: black;
        border: none;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
        transition: all ease-in-out .3s;

        &:hover {
            background-color: #222;
        }
    }
}