.cardComponent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-size: 1rem;
    gap: 10px;
    padding: 30px;
    animation: aparecer 4s;
    transition: opacity ease-in-out 1.2s;
    transition: all ease-in-out .4s;
    background-color: white;
}

.cardComponent:hover {
    transform: scale(1.01);
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cardComponent img {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}